@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.container{
    font-family: 'Montserrat', sans-serif;
}
header {
    font-size: 30px;
    text-align: center;
    justify-self: center;
    color: rgb(218, 217, 217);
    margin-left: 50px;
    margin-right: 50px;
    
    
}

.header-contain {
    justify-self: center;
    grid-area: header-contain;
    width: 100%;
    border-bottom: 2px solid rgb(182, 158, 92);
}
.h2-year {
    margin-bottom: 0;
    color: rgb(182, 158, 92);
    font-size: 30px;

}

.h2-year1 {
    margin-bottom: 0;
    color: rgb(230, 215, 167);
    font-size: 30px;

}

.p-content {
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

body {
    background-image: url("bgwebsite.jpg");
    background-size: cover;
}

.images {
    max-width: 100% ; 
    height: auto;
    display: inline-block; 
    margin: 0 auto; 
    ;
}

.images1 {
    width: 50%; 
    height: auto; 
    object-fit: cover;
}

.video-mp4 {
    max-width: 100%; 
    margin: 0 auto; 
}

.container{
    display: grid;
    height: 200vh;
    grid-template-columns: 0.5fr 0.5fr 0.3fr;
    grid-template-rows: 0.1fr 2fr 2fr 0.3fr;
    grid-template-areas: 
    "header-contain header-contain header-contain"
    "content-1 content-2 sidebar"
    "content-1 content-2 sidebar"
    "footer footer footer";
    grid-gap: 0.2rem;

}


#content-1{
    grid-area: content-1;
    

}

#content-2{
    grid-area: content-2;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}
.footer{
    grid-area: footer;
    justify-self: center;
    margin-top: 35px;
    font-size: 20px;
}

@media only screen and (max-width: 1910px) {
    .container {
        height: 220vh;      
     }
    .images1 {
        width: 45%;
    }
}

@media only screen and (max-width: 1700px) {
    .container {
        height: 230vh;      
     }
    .images1 {
        width: 40%;

    }
}

@media only screen and (max-width: 1582px) {
    .container {
        height: 240vh;      
     }
    .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1538px) {
    .container {
        height: 250vh;      
     }
    .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1365px) {
    .container {
        height: 260vh;
     }

     .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1278px) {
    .container {
        height: 265vh;
     }

     .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1192px) {
    .container {
        height: 270vh;
       
     }

     .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1105px) {
    .container {
        height: 275vh;
       
     }

     .images1 {
        width: 35%;

    }
}

@media only screen and (max-width: 1018px) {
    .container {
        height: 280vh;
       
     }

     .images1 {
        width:35%;

    }
}
@media only screen and (max-width: 975px) {
    .container {
       grid-template-columns: 1fr;
       grid-template-rows: 0.1fr 2fr 2fr 1fr 0.5fr;
       grid-template-areas:
       "header-contain"
       "content-1"
       "content-2"
       "sidebar"
       "footer"
    }

    .images1 {
        width: 25%;

    }

   
}


#content-1, #content-2 {
    opacity: 0;
    visibility: hidden;
}

.header-contain{
    animation: transIn1 1s ease-in-out;

}

#content-1{
    animation:  slideUp 1s ease-out forwards;
    animation-delay: 0s;
}

#content-2{
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.2s;

}

.sidebar{
    animation: transIn1 5s ;
}

.footer{
    animation: transIn1 5s ;
}




@keyframes transIn1{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideUp {
    from {
        margin-top: 100%;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
    
}



