@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.container{
    font-family: 'Montserrat', sans-serif;
}
header {
    font-size: 30px;
    text-align: center;
    justify-self: center;
    color: rgb(218, 217, 217);
    margin-left: 50px;
    margin-right: 50px;
    
    
}


table,td{
    border-collapse: collapse;
    border-right: 1px solid rgb(43, 42, 42);   
}

table,td:last-child {
    border-right: none;
}

#content-1, #content-2 {
    margin: 50px;
}



.header-contain {
    justify-self: center;
    grid-area: header-contain;
    width: 100%;
}
.h2-year {
    margin-bottom: 0;
    color: rgb(182, 158, 92);
    font-size: 40px;

}

.h2-year1 {
    margin-bottom: 0;
    color: rgb(230, 215, 167);
    font-size: 40px;

}

.p-content {
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

body {
    background-image: url("bgwebsite.jpg");
    background-size: cover;
}

.images {
    width: 30%;
    height: auto;
    display: block;
    margin: auto; 
    
}

.images1 {
    width: 50%; 
    height: auto; 
    object-fit: cover;
}

.video-mp4 {
width: 60%;    
margin: 0 auto; 
display: block;
}

.container{
    display: grid;
    height: 180vh;
    grid-template-columns: 0.5fr 0.5fr 0.2fr;
    grid-template-rows: 0.1fr 2fr 2fr 0.3fr;
    grid-template-areas: 
    "header-contain header-contain header-contain"
    "content-1 content-2 sidebar"
    "content-1 content-2 sidebar"
    "footer footer footer";
    grid-gap: 0.2rem;

}


#content-1{
    grid-area: content-1;
    

}

#content-2{
    grid-area: content-2;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;

}



.footer{
    grid-area: footer;
    justify-self: center;
    margin-top: 35px;
    font-size: 20px;
}

@media only screen and (max-width: 1910px) {
    .container {
        height: 220vh;      
     }
    .images1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1700px) {
    .container {
        height: 220vh;      
     }
    .images1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1582px) {
    .container {
        height: 220vh;      
     }
    .images1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1538px) {
    .container {
        height: 220vh;      
     }
    .images1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1419px) {
    .container {
        height: 220vh;
     }

     .images1 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
       grid-template-columns: 1fr;
       grid-template-rows: 0.1fr 2fr 2fr 1fr 0.5fr;
       grid-template-areas:
       "header-contain"
       "content-1"
       "content-2"
       "sidebar"
       "footer"
    }

    .images1 {
        width: 21%;

    }

    .images {
        width: 30%;
    }
   
}


#content-1, #content-2 {
    opacity: 0;
    visibility: hidden;
}

.header-contain{
    animation: transIn1 1s ease-in-out;

}

#content-1{
    animation:  slideUp 1s ease-out forwards;
    animation-delay: 0s;
}

#content-2{
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.2s;

}

.sidebar{
    animation: transIn1 5s ;
}

.footer{
    animation: transIn1 5s ;
}




@keyframes transIn1{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideUp {
    from {
        margin-top: 100%;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
    
}



